{% extends 'base.html.twig' %}

{% block title %}SportArticle index{% endblock %}

{% block body %}
    <h1>SportArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sport</th>
                <th>Article</th>
                <th>Prix</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sport_article in sport_articles %}
            <tr>
                <td>{{ sport_article.id }}</td>
                <td>{{ sport_article.sport }}</td>
                <td>{{ sport_article.article }}</td>
                <td>{{ sport_article.prix }}</td>
                <td>{{ sport_article.createdAt ? sport_article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sport_article_show', {'id': sport_article.id}) }}">show</a>
                    <a href="{{ path('sport_article_edit', {'id': sport_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sport_article_new') }}">Create new</a>
{% endblock %}
