{# templates/create.html.twig #}

{% extends 'base.html.twig' %}


{% block body %}

	{{ form_start(form) }}

	<div class="col-6 mx-5">
 
		{{ form_row(form.title) }}


		{{form_row(form.content, {
  'label' : 'Description du contenu',
  'value' : 'Texte de description par défaut depuis Twig pour un textarea',
  'attr' : {
    'class' : 'form-control-sm0-8'
  }
})
}}
		{{form_row(form.created_at)}}
		{{form_row(form)}}
		<button class="btn">{{ button_label|default('Save') }}</button>
	</div>
	{{ form_end(form) }}


	{#{% if article is defined %}
			<form action="{{path('article_update', {article: article.id})}}" method="post">
			{% else %}
			  <form action="{{path('product_new')}}" method="post">
			{% endif %}
			
			<div class="form-group">
			  <label for="title">Title</label>
			  <input type="text" name="title" id="title" class="form-control" placeholder="" aria-describedby="helpId" value="{{article.title | default("")}}">
			  <small id="helpId" class="text-muted">Help text</small>
			</div>
			<div class="form-group">
			  <label for="short_content">Résumé</label>
			  <input type="text" name="short_content" id="short_content" class="form-control" placeholder="" aria-describedby="helpId" value="{{article.shortContent | default("")}}">
			  <small id="helpId" class="text-muted">Help text</small>
			</div>
			<div class="form-group">
			  <label for="content">Description</label>
			  <input type="text" name="content" id="content" class="form-control" placeholder="" aria-describedby="helpId" value="{{article.content| default("")}}">
			  <small id="helpId" class="text-muted">Help text</small>
			</div>
			
			
			{% if article is defined %}
			<input name="Update" id="" class="btn btn-primary" type="submit" value="Mettre l'article à jour">
			{% else %}  
			<input name="Delete" id="" class="btn btn-primary" type="submit" value="Créer un nouvel article">
			{% endif %}
			</form>#}

{% endblock %}
