{# templates/article/index.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}

	<h1>Liste de tous les articles</h1>

	<ul>
		{% for article in articles %}
			{#<a href="{{"/article/" ~ article.id}}"> #}
			<a href="{{ path("article_show", {article: article.id}) }}">
				<h3>Article #{{article.id}}</h3>
				<li>Titre:
					{{ article.title }}
				</li>
				<ul>
					<li>Résumé :
						{{ article.shortContent }}
					</li>
					<li>Description:
						{{article.content}}</li>
					<li>Créé le:
						{{ article.createdAt | date('d/m/Y H:i', 'Europe/Paris')  }}</li>
				
					<li>Catégorie:
						{{ article.category.title |default("") }}</li>
				</ul>
			</a>
			<form action="{{path("article_delete", {article:article.id}) }}" method="POST"> <input type="submit" value="delete"></form>
			<br>
			<br>
		{% endfor %}
	</ul>
{% endblock %}
