{# templates/show.html.twig #}

{% extends 'base.html.twig' %}


{% block body %}
	<h1>Page de l'article dont l'id est
		{{article.id}}</h1>

	<h3>Titre:
		{{article.title}}</h3>
	<ul>
		<li>
			Résumé:
			{{article.shortContent}}
		</li>
		<li>
			Description:
			{{article.content}}
		</li>
		<li>
			Créé le:
			{{ article.createdAt | date('d/m/Y') }}
		</li>
	</ul>
    <a href="{{ path("edit", {article: article.id}) }}"><input type="button" value="Modifier l'article"></a>
	<br>
	 <a href="{{ path("article_delete", {article: article.id}) }}"><input type="button" value="Supprimer l'article"></a>
{% endblock %}
